@model Budgetty.Mvc.Models.Transactions.TransactionsViewModel

@{
    ViewBag.Title = "Transactions";
    Layout = "_Layout";
}

<h1>Transactions</h1>

<form method="post">
    <div class="form-group row">
        <div class="col-sm-3">
            <div id="startDate" class="input-group date" data-provider="datepicker">
                @Html.TextBoxFor(x => x.TransactionsStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar-alt"></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="col-sm-3">
            <div id="endDate" class="input-group date" data-provider="datepicker">
                @Html.TextBoxFor(x => x.TransactionsEndDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                        <i class="fa fa-calendar-alt"></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">View</button>
        </div>
    </div>
</form>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#startDate').datepicker({
                startDate: "@Model.EarliestTransaction.ToString("dd/MM/yyyy")",
                endDate: "@Model.LatestTransaction.ToString("dd/MM/yyyy")",
                format: "dd/mm/yyyy",
                autoclose: true
            });
            $('#startDate').on('change', function () {
                $('#endDate').datepicker('setStartDate', $('#startDate input').val());
            });

            $('#endDate').datepicker({
                startDate: "@Model.EarliestTransaction.ToString("dd/MM/yyyy")",
                endDate: "@Model.LatestTransaction.ToString("dd/MM/yyyy")",
                format: "dd/mm/yyyy",
                autoclose: true
            });
        });
    </script>
}

<table class="table table-striped" aria-label="Table of transactions">
    <thead>
        <tr>
            <th class="fit">Date</th>
            <th>Description</th>
            <th class="w-50">Notes</th>
        </tr>
    </thead>

    <tbody>
        @if (!Model.Transactions.Any())
        {
            <tr>
                <td class="text-center" colspan="2">There are no transactions to display.</td>
            </tr>
        }

        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Description</td>
                <td>@transaction.Notes</td>
            </tr>
        }
    </tbody>
</table>